---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="lenguaje-logo" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Trilingüe</h2>
		<p>Mi idioma nativo es el Español. Actualmente puedo hablar Ingles y Frances en un nivel intermedio</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Administradora de negocios internacionales</h2>
		<p>Actualmente estoy cursando el 5to semestre de administracion de negocios internacionales en la Universidad de Envigado</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="finance-logo" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Finaciera</h2>
		<p>Diplomado de finanzas en la institución Secretaria De Hacienda Y Crédito Público de la Ciudad de México</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
